.sidebar.body-page
  = image_tag 'Tolsky.png', size: 60, class: 'mt-4'

  .menu-item
    = link_to rooms_path, class: 'menu-icon' do
      %i.bi.bi-house
    %p.menu-text Home

  .menu-item
    = render 'navbar/notifications'

  .menu-item
    %button.menu-icon.ms-1{ 'data-bs-toggle' => 'modal', 'data-bs-target' => '#contactModal' }
      %i.bi.bi-person-lines-fill
    %p.menu-text Contact

  .menu-item
    %button.menu-icon.ms-1{ 'data-bs-toggle' => 'modal', 'data-bs-target' => '#usersModal' }
      %i.bi.bi-search
    %p.menu-text Users

  .menu-item.mb-5.ms-1
    = link_to '#', class: 'menu-icon' do
      %i.bi.bi-archive
    %p.menu-text Archive
  %br
  .mt-5
    %button.menu-icon.ms-2.mt-5{ 'data-bs-toggle' => 'modal', 'data-bs-target' => '#newRoomModal' }
      %i.bi.bi-plus

  = render 'navbar/dropdown_options'

= render 'modal/modal', modal_id: 'messagesModal' do
  %iframe{ src: notifications_path, width: '100%', height: '600', style: 'border:0' }
= render 'modal/modal', modal_id: 'usersModal' do
  %iframe{ src: users_path, width: '100%', height: '600', style: 'border:0' }
= render 'modal/modal', modal_id: 'contactModal' do
  %iframe{ src: contacts_path, width: '100%', height: '600', style: 'border:0' }
= render 'modal/modal', modal_id: 'newRoomModal' do
  %iframe{ src: new_conversation_path, width: '100%', height: '600', style: 'border:0' }

= form_with(url: users_path, method: :get, data: { turbo_frame: 'result-search', controller: 'search' }) do |f|
  .d-flex.justify-content-center.search-block.pb-1
    = f.text_field :search, placeholder: 'Searching...', data: { action: 'input->search#search', search_target: 'input' }, class: 'form-control rounded-2 p-2 w-50 mt-1 h-25'
  = f.submit 'Search', class: 'btn btn-outline-none', hidden: true



