%p.notice= notice
%p.alert= alert
.d-flex.justify-content-center.align-items-center
  = image_tag 'Tolsky.png', size: '50'
  %p.fs-2.fw-bolder Tolsky
.d-flex.justify-content-center.align-items-center
  .d-block
    = form_for(resource, as: resource_name, url: registration_path(resource_name), multipart: true) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .d-block.justify-content-center.align-items-center
        .mb-3
          .field
            = f.text_field :login, placeholder: 'login', class: 'form-control rounded-5'
        .mb-3
          .field
            = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email: example@gmail.com', 
class: 'form-control rounded-5'
        .mb-3
          .field
            = f.telephone_field :phone_number, placeholder: 'phone number', class: 'form-control rounded-5'
        .mb-3
          .field
            = f.file_field :avatar, placeholder: 'date of birth', class: 'form-control rounded-5'
        .mb-3
          .field
            = f.password_field :password, autocomplete: 'new-password', placeholder: 'password 6 symbols', 
class: 'form-control rounded-5'
        .mb-3
          .field
            = f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'password-confirmation', 
class: 'form-control rounded-5'
        .actions
          = f.submit 'Sign up', class: 'button-authentication mt-3 text-light rounded-5 mb-3 w-100'
    = render 'devise/shared/links'
