= turbo_frame_tag "room" do
  .shadow-lg
    .d-flex.justify-content-between.align-items-center.ms-3.me-3.p-3
      %h5= @conversation.name
      %button.btn.btn-outline-dark.ms-1{ 'data-bs-toggle' => 'modal', 'data-bs-target' => '#conversationModal' }
        %i.bi.bi-three-dots

    .modal.fade#conversationModal{ tabindex: '-1', 'aria-hidden' => 'true' }
      .modal-dialog
        .modal-content
          .modal-body
            = render 'conversations/conversation_options'


  = form_with(model: Message.new, url: messages_path) do |f|
    = f.hidden_field :conversation_id, value: @conversation.id
    = f.text_field :content

    = f.submit 'Send'

