%h1.mb-4.text-center Your notifications
- if @notifications.present?
  - @notifications.each do |notification|
    .border.border-warning.rounded-3
      .d-flex.justify-content-between.align-items-center
        .m-3
          %p= notification.content
          %p= "From: #{notification.sender.login}"
          %p= notification.created_at.strftime("%B %d, %Y %H:%M")
        .d-flex.justify-content-end.mb-2.me-2
          = button_to notification_path(notification), method: :delete, class: 'btn btn-outline-danger' do
            %i.bi.bi-trash
      - if notification.content == 'You have received a friend request'
        .ms-2.mb-2.d-flex.gap-3
          = button_to 'Approved', notification_path(notification), method: :patch, class: 'btn btn-info'
          = button_to 'Reject', reject_notification_path(notification), method: :delete, class: 'btn btn-danger'
