= form_with(url: users_path, method: :get, data: {turbo_frame: 'result-search', controller: 'search'}) do |f|
  = f.text_field :search, placeholder: 'Searching...', data: {action: 'input->search#search', search_target: 'input'}, class: 'form-control rounded-5 p-2 text-center search'
  = f.submit 'Search', class: 'btn btn-outline-none', hidden: true

-@users.each do |user|
  .d-flex.gap-2
    = image_tag user.avatar.url(:thumb), size: 25
    %p= user.login