= turbo_frame_tag "modal" do
  %h1.text-center Your contacts
  - if @contacts.present?
    - @contacts.each do |contact|
      - user = (contact.sender_id == current_user.id ? contact.receiver : contact.sender)
      .d-flex.justify-content-between.align-items-center
        .d-flex.justify-content-between
          = link_to contact_path(contact), class: 'text-decoration-none text-dark' do
            .d-flex.gap-2.align-items-center.mt-2
              = image_tag user.avatar.url(:thumb), size: 50
              %p= user.login

        .d-flex.gap-2
          - if contact.blocked == false
            = button_to 'Block', contact_path(contact), method: :patch, params: { blocked: true }, class: 'btn btn-outline-dark'
          - else
            = button_to 'Unlock', contact_path(contact), method: :patch, params: { blocked: false }, class: 'btn btn-outline-dark'

          = button_to contact_path(contact), method: :delete, class: 'btn btn-outline-dark' do
            %i.bi.bi-trash
