.d-flex.justify-content-center.align-items-center
  .d-block
    %h2.text-center.mb-4.h6 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .mb-3.mt-3
        .field
          = f.email_field :email, autofocus: true, placeholder: 'Email', autocomplete: "email", class: 'form-control rounded-5'
      .mb-1
        .field
          = f.password_field :password, placeholder: 'Password', autocomplete: "current-password", class: 'form-control rounded-5'
      .mb-3
        .actions
          = f.submit "Log in", class: 'btn btn-primary w-100 mt-3 text-light rounded-5 btn-authentication'
    = render "devise/shared/links"
